.wrap {
	width: 90%;
	max-width: 860px;
	margin: 20px auto;
	color: #171717;
}

.card {
	border: 1px solid #eeeeee;
	margin: 2px;
	width: 32%;
	min-width: 100px;
	max-width: 280px;
	height: 150px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.45);
	transition: all 200ms linear;
}

.card:hover {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}

h4[name] {
	font-size: 18px;
	margin: 2px 0;
	font-weight: normal;
}

.grade, .otherinfo {
	color: #465666;
	font-size: 12px;
}

@media screen and (max-width: 600px) {
	.card {
		width: 95%;
		min-width: 255px;
		max-width: 570px;
    margin: 20px auto;
    transition: .3s linear;
	}
}