.wrap {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	color: #171717;
}

.card {
	border: 1px solid #eeeeee;
	margin: 2px;
	min-width: 280px;
	height: 150px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.45);
}

h4[name] {
	font-size: 18px;
	margin: 2px 0;
	font-weight: normal;
}

.grade, .otherinfo {
	color: #465666;
	font-size: 12px;
}

@media screen and (max-width: 600px) {
	.card {
    width: 95%;
    margin: 20px auto;
    transition: .3s linear;
	}
}