@import url('../../assets/index.css');

.login {
  width: 90%;
  max-width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.login label {
  width: 80%;
  margin: 10px auto;
  color: rgba(0, 0, 0, 0.54);
}

.login-title {
  text-align: center;
}

.login input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background-color: #e8f0fe;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 0;
  margin: 5px 0;
  width: 100%;
  height: 32px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-family: inherit;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.login .btn, .logout {
  display: inline-block;
  overflow: hidden;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  text-decoration: none;
  text-align: center;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  text-transform: uppercase;
  margin-top: 30px;
  padding: 0;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex-shrink: 0;
  flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 14px;
  width: 80%;
  min-width: 88px;
  height: 36px;
  line-height: 36px;
  border-radius: 2px;
  color: #fff;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
}

.aplist {
  width: 90%;
  max-width: 1030px;
  margin: 20px auto;
  color: #171717;
  display: flex;
  flex-wrap: wrap;
}

.aplist-item-card {
  border: 1px solid #eeeeee;
  margin: 10px;
  width: 33%;
  min-width: 100px;
  max-width: 280px;
  min-height: 110px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 200ms linear;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.aplist-item-card:hover {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

div[account] {
  font-size: 16px;
  margin: 5px 0;
  font-weight: normal;
  display: flex;
  align-items: center;
}

h5[atype] {
  font-size: 14px;
  margin: 5px 0;
  font-weight: normal;
}

.icon {
  margin: 0 5px;
}

.password-text {
  color: #465666;
  font-size: 16px;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

.lookpass {
  color: #465666;
  font-size: 16px;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .aplist-item-card {
    width: 95%;
    min-width: 255px;
    max-width: 570px;
    margin: 20px auto;
    transition: .3s linear;
  }
}